@charset "UTF-8";
.login-page{
  width: 25%;
  margin: 0% auto;
  margin-top: 5%;
  padding: 0 5%;
  color: white;
  background-color: #414141;
  border: 1px solid #f2f2f2;
  border-radius: 5%;
}.login-page .text-center{
  margin-bottom: 10px;
  word-wrap: break-word;
}.message-text-center{
  width:25%;
  text-align: center;
  margin: 0 auto;
}.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}.event-page{
  width: 75%;
  margin: auto;
  margin-top: 5%;
  padding: 0 5%;
  color: white;
  background-color: #414141;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.tableContainer {
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
}.ERtableContainer {
  width: 25%;
  margin: 0 auto;
  padding-top: 25px;
}
.modal-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.MainContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header_table{
	width: 100%;
	padding-top:10px;
  padding-bottom: 30px;
  text-align: center;
  display: table;
}.header_table td{
  width:33%;
  color: white;
  font-size: 20px;
  /* border: 1px solid white; */
}.header_table img{
  padding:10px 10px 10px 10px;
  width:50%;
}
.entry_header{
  font-size: 160%;
}
.entry_input{
  font-size:150%;
}
.secondary_header {
  width: 100%;
  background-color: #414141;
  margin-top: 1%;
	display: table;
}
.container .secondary_header ul {
    width: 100%;
}.rover_container{
  width:65%;
  margin: auto;
  text-align:center;
  padding-top: 25px;
}.rover_container table{

  margin: 0 auto;
  text-align:center;
}.rover-text-left{
  text-align: left;
  word-wrap: break-word;
}
.secondary_header ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
	  margin-left: auto;
	  text-align: center;
    width: 50%;
    transition: all 0.3s linear;
    font-style: normal;
    font-size: large;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}a:link {
  text-decoration: none ;
  color: #FFFFFF;
}
.panel-box{
  width: 100%;
  height: 75%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  border: none;
}.panel-modal{
  width: 100%;
  height: 75%;
  padding: 1% 1% 1% 1%;
  text-align: left;
  border: none;
}.test_modal_body{
  text-align:left;
}.mobile-only {
  display: none;
}.mobile-nav-header{
  display:none;
}
.dropbtn {
  background-color: #414141;
  border-radius: 10%;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #414141;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #1c2964;color: white;}
/* .dropdown-content a:hover {background-color: #414141;} */

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #414141;}

#rover_checklist {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#rover_checklist td, #rover_checklist th {
  /* border: 1px solid #414141; */
  padding: 8px;
}#rover_checklist tr{
  border-bottom: 1px solid #414141;
}

#rover_checklist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

.dashboard-box{
  width: 100%;
  height: 75%;
  padding: 30px 5px 0px 5px;
  text-align: center;
  border: none;
}.dashboard_table{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
	padding-top:10px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid #717070;
  display: table;
}.dashboard_table_head{
  color: white;
  background-color: #717070;
  font-family: Arial;
  font-size: 30px;
  /* text-transform: uppercase; */
}.header-text-left{
  padding-left:5px;
  text-align: left;
}.header-text-center{
  text-align: center;
}.dashboard_table_body{
  color: white;
  font-family: Arial;
  font-size: 18px;
}.dashboard_table_body tr:nth-child(odd){
  background-color: #414141;
}
.body-text-left{
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left:5px;
}.body-text-center{
  text-align: center;
}.mobile-name-header{
  font-size: 20px;
}
#text_input{
  color:black;
  width:90%;
  font-size: 15px;
}
.mid-left-center {
  text-align: left;
  display: flex;
  align-items: center;
}
/* Base styles for all devices */
.ERtableContainer2 {
  width: 100%; /* Occupy the full width of the parent element */
  max-width: 500px; /* Set a maximum width for larger screens */
  margin: 0 auto; /* Center the container horizontally */
  padding-top: 25px; /* Add spacing at the top */
}td.class_body-text-left {
  text-align: left;
}.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  display: block;
}
/* Media query for screens up to 420px (e.g., iPhones) */
@media screen and (max-width: 420px) {
  .ERtableContainer2 {
    padding-top: 15px; /* Reduce the spacing for smaller screens if needed */
  }.class_body-text-center {
    width: 65%;
    height: 18px;
    text-align: center;
    font-size: 16px;
  }td.class_body-text-left {
    width: 45%;
    height: 15px;
    font-size: 18px;
  }.table_names{
    height:0px;
    line-height: 0px;
  }
  .login-page{
    width: 90%;
    margin: 0% auto;
    margin-top: 5%;
    padding: 0 5%;
    color: white;
    background-color: #414141;
    border: 1px solid #f2f2f2;
    border-radius: 5%;
  }.login-page .text-center{
    margin-bottom: 10px;
    word-wrap: break-word;
  }.message-text-center{
    width:55%;
    text-align: center;
    margin: 0 auto;
  }
  .entry_header{
    font-size: 100%;
  }
  .entry_input{
    font-size:100%;
  }
  thead {
      display: none;
  }
  .mobile-only {
      display: block;
  }
  td {
      display: inline-block;
      width: 33%;
      margin-bottom: 10px;
      padding: 15px 0;
      text-align: left;
      vertical-align: text-top;
  }
  td div {
      color: #999;
  }
  .header_table{
    width: 100%;
    display: flex;
    padding-top:10px;
    padding-bottom: 30px;
    text-align: center;
    display: table;
  }.header_table td{
    width:33%;
    text-align: center;
    vertical-align: middle;
    border: 0px;
  }.header_table img{
    padding:1px 1px 1px 1px;
    width:100%;
  }.secondary_header{
    display: none;
  }.mobile-nav-header{
    display: inline;
  }.mobile-nav-header ul{
    text-align: right;
    padding:10%;
  }
  .rover_container{
    width:100%;
    margin: auto;
    text-align:center;
    padding-top: 25px;
  }.rover_container table{

    margin: 0 auto;
    text-align:center;
  }

  .dropbtn {
    background-color: #414141;
    border-radius: 10%;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
  }

  .dropdown {
    position: absolute;
    /* display: inline-block; */
  }
  .mobile-name-header{
    font-size: 15px;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right:30px;
    background-color: #414141;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding: 1em;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #414141;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #414141;}
}
/* End of @media; */

.wrapper{
  position: relative;
  width: 100%;
  background-color: #1fd838;
  padding: 0 0 0 0;
  border-radius: 10px;
}
.container{
  position: static;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track{
  width: 100%;
  height: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 3px solid #3264fe;
}
.values{
  background-color: #3264fe;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}
.values:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #3264fe;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}
.nav_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #414141;
	clear: left;
	display: table;
	margin: 0 auto;
}
.container .nav_header ul {
    margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 100%;
/*	list-style: none;*/
}
.nav_header ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
    width: 20%;
    transition: all 0.3s linear;
    font-style: normal;
    font-size: large;
}
.nav_header ul li:hover {
	color: #717070;
	cursor: pointer;
}a:link {
  text-decoration: none ;
  color: #FFFFFF;
}