/* styles.css */
.MainContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .header_table{
      width: 100%;
      padding-top:10px;
    padding-bottom: 30px;
    text-align: center;
    display: table;
  }.header_table td{
    width:33%;
    color: white;
    font-size: 20px;
    /* border: 1px solid white; */
  }.header_table img{
    padding-top: 10px;
    width:100%;
  }.stats_table{
    width: 100%;
    padding-top:10px;
    padding-bottom: 30px;
    text-align: center;
    display: table;
}.stats_table td{
  width:50%;
  color: black;
  font-size: 20px;
  /* border: 1px solid white; */
}.stats_table img{
  padding-top: 10px;
  width:100%;
}.stats_container {
  max-width: 100%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}.canvas-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px; /* Add rounded corners as per your preference */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for a container-like effect */
}.table-column-50 {
  width: 35%;
  /* max-width: 35%; */
  vertical-align: top; /* Align content to the top */
  text-align: center;
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
  padding: 8px; /* Optional padding for better visual appearance */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.dropbtn {
    background-color: #212529;
    border-radius: 10%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    float: right;
    padding-right: 25px; /* Adjust the padding as needed */
    padding-top: 5px; /* Adjust the padding as needed */
}


  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #414141;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding: 1em;
    text-decoration: none;
    display: block;
    
  }
  .password-form-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    max-width: 400px;
    text-align: center;
}

.password-form-container h2 {
    color: #333;
}

.password-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-form-container label {
    margin-bottom: 8px;
}

.password-form-container input {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-form-container button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-form-container button:hover {
    background-color: #45a049;
}
.output-container {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
}

.hashed-password {
  color: #333;
  font-size: 18px;
}
  
  .dropdown-content a:hover {background-color: #1c2964;color: white;}
  /* .dropdown-content a:hover {background-color: #414141;} */
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #414141;}
/* Apply mobile-specific styles */
@media (max-width: 768px) {
  .container {
      max-width: 100%;
      border-radius: 0;
  }
  .canvas-container {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 8px; /* Add rounded corners as per your preference */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for a container-like effect */
  }
  .stats-container {
      max-width: 100%;
      margin: 1px auto;
      background-color: white;
      padding: 2px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

