body{
    text-align: left;
    background-color: rgba(0,0,0,0);
  }
 
  h1{
    font-size: 60px;
   text-align: left;
   margin-top: -25px;
   padding: 0px
 
  }
 
   .child {
     padding: 0px;
     font-size: 50px;
     background-color: rgba(0, 0, 0, .5);
     color: white;
     width: max-content;
   }
 
   .newChild {
     color: lawngreen;
   }
 
   ul {
     text-align: left;
   }